.editable-row-operations a {
  margin-right: 8px;
}
.btn {
  margin: 20px 20px;
  color: black;
  border: 1px solid #0a6bb1;
  background-color: #0d99ff;
  font-family: "Poppins";
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.formContainer {
  padding-top: 20px;
}
.btn:hover {
  border: 1px solid white;
  color: white;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.assets__table {
  margin: 20px;
}
.form__inputs {
  margin: 0px 0px 20px 20px;
}
.form__labels {
  margin: 20px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
}
